
body {
background-color: #191923;
}
/* STYLIZE QUOTE */
#quote {
    font-size: 45pt;
    color: #e9ecef; 
}
/* TO POSITION INDICATOR TO TO BOTTOM OF PAGE*/
.position-control {
    position:absolute;
    top:100vh;
    transform:translateY(-100%);
    width:100%;
}
/* TO POSITION BUTTONS TO TO BOTTOM OF PAGE*/
.position-control-button {
    position:absolute;
    top:96.5vh;
    transform:translateY(-100%);
    width:100%;
}

#car-2 {
    text-align: center;
}

h3 {
    color: #e9ecef;
    margin-left: 20px;
}

#styleform {
    font-size: 40pt;
    color: #e9ecef
}

#stylelinkedin {
    font-size: 40pt;
    color: #e9ecef;
}
/* hover effect*/
#stylelinkedin:hover {
    cursor: pointer;
    font-weight: bold;
}

